    <div>
        <h3>Add new Media</h3>
        <div class="row">
          <div class="col"><label for="">Enter media title </label></div>
          <div class="col">  <input type="text" #txtTitle /></div>
        </div>
        <div class="row">
          <div class="col"><label for="">Enter media description </label></div>
          <div class="col"><input type="text" #txtDescription /></div>
        </div><div class="row">
          <div class="col"><label for="">Enter media tag </label></div>
          <div class="col"> <input type="text" #txtTag /></div>
          <div class="col"><label for="">Enter image type</label></div>
          <div class="col"><input type="text" #txtImg /></div>
        </div>
        <div class="row">
          <div class="col"><input type="button" value="Save" (click)="saveMedia(txtTitle, txtDescription, txtTag,txtImg)" /></div>
        </div>
      <hr/>
      <app-media-list [mediaList]="medias" > </app-media-list>
    </div>
















  
    
      
  
      
     
      
    