<div>
    <form>
      
<h1>Personal Information Form</h1>
<form action="/action_page.php">
    <li>
  First name:
    <input type="text" name="firstname" value="">
    <br>
    </li>
<br>
    <li>
  Last name:
    <input type="text" name="lastname" value="">
    <br><br>
    </li>
    </form>

    <li>
  Birthdate:
    <input type="date" name="Birthdate">
</li>
<br>

  <li>
   Gender:<br>
   <input type="radio" name="gender" value="male" unchecked> Male<br>
   <input type="radio" name="gender" value="female"> Female<br>
   <input type="radio" name="gender" value="other"> Other<br><br>   
  </li>

<li>

      E-mail:
    <input type="email" name="email">
</li>
<br>

<li>
  bloodgroup:
    <select name="bloodgroup">
    <option value="None"></option>
    <option value="A">A</option>
    <option value="A+">A+</option>
    <option value="B">B</option>
    <option value="B+">B+</option> 
    <option value="AB+">AB+</option> 
    <option value="O">O+</option>
    <br><br>
    </li>
    </select>
    <br><br>
    
    <li>
   State:
    <select name="State" size=2>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Tamil Nadu ">Tamil Nadu</option>
        <option value="Kerala">Kerala</option>
        <option value="Nepal">Nepal</option>
      </select>
      <br><br>
    </li>
</form>
  <br><br>
  <input type="submit">

    </form>
</div>