<div id="calculator">
    number 1<input type="text" id="value1"#num1> <br><br>
    number 2<input type="text" id="value2"#num2> <br><br>
    Result <input id="answer"#res><br>
    <br>
    <button type="button" (click)="clear(num1,num2,res)">C</button>
    <button type="button" (click)="add(num1,num2,res)">add</button> 
    <button type="button" (click)="sub(num1,num2,res)">sub</button> 
    <button type="button" (click)="mul(num1,num2,res)">mul</button>  
    <button type="button" (click)="div(num2,num2,res)">Div</button> <br><br>
    </div>   <div>

    </div>