<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
        <img style="width:130px">
        </a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Upload
        </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="Media.html">Single</a></li>
            <li><a class="dropdown-item" href="Media.html">Multiple</a></li>
          </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Connectivity
       </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <li><a class="dropdown-item" href="#">Follower</a></li>
          <li><a class="dropdown-item" href="#">Follows</a></li>
         </ul>
</li>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             My Media
           </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <li><a class="dropdown-item" href="#">Details</a></li>
             </ul>
    </li>
    
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Account
           </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <li><a class="dropdown-item" href="Login.html">Login</a></li>
               <ul class="dropdown-submenu">
                <li><a class="dropdown-item" href="#">Search</a></li>
                <li><a class="dropdown-item" href="#">Newsfeed</a></li>
                <li><a class="dropdown-item" href="#">Update</a></li>
                 <li><a class="dropdown-item" href="#">Blocked Accounts</a></li>
                 <li><a class="dropdown-item" href="Home.Html">Logout</a></li>
               </ul>
               <li><a class="dropdown-item" href="Register.html">Register</a></li>
             </ul>
    </li>
     </nav>
</div>